@page "/unos"
@inject NavigationManager Nav
@using Blazored.FluentValidation
@using FluentValidation
@using Validacija.Shared
@using Microsoft.AspNetCore.SignalR.Client

<h3>Unos</h3>

<p>@NekaOsoba.Ime</p>
<p>@NekaOsoba.Prezime</p>

<EditForm Model="@NekaOsoba" OnValidSubmit="Val" OnInvalidSubmit="Inv" >
	<FluentValidationValidator/>
	<InputText @bind-Value="NekaOsoba.Ime" />
	<div><ValidationMessage For="() => NekaOsoba.Ime"/></div>
	<InputText @bind-Value="NekaOsoba.Prezime" />
	<button type="submit" class="btn-dark">Unos</button>
</EditForm>


@code 
{
	private HubConnection HC;

	protected override async Task OnInitializedAsync()
	{
		HC = new HubConnectionBuilder().WithUrl(Nav.ToAbsoluteUri("haaab"))
									.Build();
		await HC.StartAsync();
	}

	public void Val()
	{
		HC.SendAsync("Dodaj", NekaOsoba);
	}

	public void Inv()
	{
		Console.WriteLine("Looose");
	}

	public Osoba NekaOsoba = new Osoba();
}
